<!DOCTYPE html>
<html lang="en" ng-app="multApp">
<head>
	<meta charset="UTF-8">
	<title>Multiplication Table</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<a href="https://github.com/mervarnold/multiplicationTable">View source on Github</a>
	<div ng-controller="DisplayCtrl as display">
		<h1 ng-if="display.content">{{display.content}}</h1>
		<h1 ng-if="!display.content">...</h1>
	</div>
	<div ng-controller="MultiplicationCtrl as mult">
		<input type="number" ng-model="numberLimit" placeholder="Enter a number">
		<table>
			<tr ng-repeat="numberA in mult.numbers">
				<td ng-repeat="numberB in mult.numbers" ng-click="mult.setActiveNumber(numberA * numberB)" ng-mouseleave="mult.clearActiveFactors()" ng-mouseover="mult.setActiveFactors(numberA, numberB)" ng-class="{hover: mult.matchesFactor(numberA, numberB)}">
					{{numberA * numberB}}
				</td>
			</tr>
		</table>
	</div>
	<div ng-controller="DisplayCtrl as display">
		<h2 ng-if="display.content">
			The value you have selected to display is: {{ display.content }}
		</h2>
		<h2 ng-if="!display.content">
			You have not selected a value to display
		</h2>
	</div>
	<script src="multApp.js"></script>
</body>
</html>